@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --border-radius: 0.25rem;
  --letter-spacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #474444;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

/* Parent selector, finally 😃 */
button:has(svg) {
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
.full-page {
  min-width: 100vw;
  min-height: 100vh;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}
.form-label {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  text-align: right;
  margin-right: 2rem;
}
.form-input {
  height: 3.5rem;
  width: 70%;
  border: none;
  border-radius: 10px 10px 0px 0px;
  background: #f4f4f4;
  padding: 0.5rem 1.5rem;
}
.passwrapper {
  position: relative;
  /* display: inline-block; */
  width: 70%;
}
.svg {
  position: absolute;
  right: 2rem;
  top: 1rem;
  background: transparent;
  border: none;
  width: 1rem;
  height: auto;
}
.auth-btn {
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  background: #a9bcff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.auth-btn:hover {
  background: #b4c2f6;
}

/* loading spinner */
.loader {
  color: #5076ff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  color: rgb(224, 55, 55);
  font-size: 3rem;
}
.error-btn {
  margin-top: 2rem;
  border: none;
  background-color: #5076ff;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem;
}
.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.quiz-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.6rem 4.5rem;
}
.primary {
  color: #fff;
  background: #60b84b;
}
.primary:hover {
  background: #5aab46;
}
.secondary {
  color: #000;
}

.optionactive {
  border: 2px solid #14919b;
  background-color: #0e7c86;
  color: #0e7c86;
}

.page {
  width: 95vw;
  height: 95vh;
}
@media (min-width: 750px) {
  .page {
    width: 100vw;
    height: 100vh;
    padding: 6rem 12rem;
    background: #041325;
  }
}
